<!DOCTYPE html>
<html>
<head>
    <title>Negozio</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        h1 {
            font-size: 4em;
            margin-bottom: 20px;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .buttons a {
            display: block;
            padding: 6px 12px;
            font-size: 0.8em;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            border: 2px solid #333;
            border-radius: 4px;
        }
        .buttons a:hover {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="display:flex; align-items: center; justify-content: center; margin-bottom: 20px">
            <img src='https://i.imgur.com/v3foH3P.png' style="height: 80px" >
            <img src='https://i.imgur.com/ijBBA54.png' style="height: 60px; margin-left: 20px;" >
        </div>
        <div class="buttons">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
</html>
