<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            font-family: 'Roboto', 'Sans Serif';
        }

        .glacies-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;   
        }

        .glacies-form label {
            font-size: 0.8em;
            font-weight: bold;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .glacies-form input {
            border-radius: 10000px;
            border: 2px solid #2705a0;
            padding: 5px 10px;
        }

        .glacies-button {
            width: 100%;
            border-radius: 10000px;
            padding: 5px 10px;
            background: #2705a0;
            border:2px solid #2705a0;
            color: white;

            cursor: pointer;
            transition: all 0.2s ease;
        } 

        .glacies-button:hover {
            background: white;
            color: #2705a0;
        }


        .error-message {
            color: #ff0000;
            background-color: #ffe5e5;
            border: 1px solid #ff0000;
            border-radius: 5px;
            padding: 5px;
            margin: 10px 0;
            font-size: 0.7em;
        }

        .error-message p {
            margin: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="loginPage" style="display: flex; height: 100vh;">
        <div style="width: 66.6666%; display: flex; align-items:center;">
            <img src='https://i.imgur.com/oasM8DD.png' style="width: 100%" >
        </div>
        <div style="width: 33.3333%; display:flex; align-items:center; justify-content: center; box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);">
            <div style="width: 60%; max-width: 400px;">                 
                <h1>Login ✌️</h1>
                <form action="/login" method="POST">
                    <div class="glacies-form">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter Email">
                    </div>
                    <div class="glacies-form">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="glacies-button" style="margin-top: 20px">Login</button>
                </form>
                <% if(errors) { %>
                    <div class="error-message">
                        <% errors.forEach(error => { %>
                            <p><%= error %></p>
                        <% }) %>
                    </div>
                <% } %>
                <p style="font-size: .8em; text-align: center;">Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
